# Exercise 4.6 IC Combinig and Exporting Data

#This script contains the following:

#1 Import Libraries & datasets;

#2 Instacart orders data merged with `orders_products_prior` data and combined dataframe.

#3 Merged dataset exported in “.pkl” format;

In [23]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [24]:
# Importing dataset 
path=r'C:\Users\User01\16.05.2023 Instacart Basket Analysis'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [25]:
#Importing new dataset order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [26]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [27]:
#Checking dimensions of order_products_prior
df_ords_prior.shape

(32434489, 4)

In [28]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [29]:
#Drop the unnecessary Column
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [30]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [31]:
df_ords.shape

(3421083, 6)

In [36]:
# Merge df_order_products_prior and df_ordrs using order_id as a key 
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [37]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [38]:
df_merged_large.shape

(32434489, 10)

In [39]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [40]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

# Remaining Exercise solution in new notebook 4.6A IC Combining and Exporting Data