# 4.6A IC Combining and Exporting Data

#This script contains following:

#1 Importing libraries & datasets;

#2 `order_products_combined` imported from “.pkl” file and shape checked;

#3`orders_product_combined` merged with products data via suitable method;

#4 Data set exported as `orders_products_merged` in pkl. format.

In [3]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [1]:
#Defining Path
path=r'C:\Users\User01\16.05.2023 Instacart Basket Analysis'

In [5]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [10]:
# Importing dataset 
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [11]:
# Check columns of df_ords_prods_combined
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
#check the shape of dataframe
df_orders_products_combined.shape

(32434489, 10)

In [13]:
# Check columns of df_prods_
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# Check dimension of df_prods
df_prods.shape

(49672, 6)

In [15]:
# Drop existing merge column (dropped due to error in following code to merge)
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [16]:
# Product_id matches in both dataframes - use this as the key to merge
df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [18]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [19]:
#Confirm the results using merge flag
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
#checking merge shape
df_merged.shape

(32404859, 15)

In [21]:
#Exoprt df_merged as pickle file due to size
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))